<p id="notice"></p>

<div class="show-text">
  <p>
    <strong>Title:</strong>
    <%= @book.title %>
  </p>
  
  <p>
    <strong>Body</strong>
    <%= @book.body %>
  </p>
</div>

  <%= link_to "Edit", edit_book_path(@book.id) %> |  <a href="/books">Back</a>

