<h2>
    ようこそ
    <storong>Bookers </storong>
    へ！
</h2>
 
<div class="top-text">
    <p>
        <strong>Bookers</strong>
        では、さまざまな書籍に関せするあなたの意見や
    </p>
    <p>印象を共有し交換することができます</p>
    <p>
        <a href="/books">start</a>
    </p>
</div>